server {
    listen 80;
    server_name {{ server_domain_or_IP }};

     # Optional: serve static files
    location /static/ {
        root /var/www/yourapp;
    }


    location / {
        proxy_pass http://127.0.0.1:{{ app_port }};
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection keep-alive;
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }

   
   
}
